{% extends '_templates/base.njk' %}

{% block page_title %}Ships of the Golden Age of Pirates{% endblock %}

{% block page_description %}Comprehensive list of the top eight most popular pirate ships of all time.{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of Pirates</h1>
  <p>Intro text here.</p>
  <div class="row">
    {% for ship in pirates.ships %}
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-4 bg-info" style="--bs-bg-opacity: .25;">
        <div class="card-body">
          <h5 class="card-title">{{ ship.ship_name }}</h5>
          <h6 class="card-captain">{{ ship.captain }}</h6>
          <p class="card-text">{{ ship.blurb }}</p>
          <a href="{{ ship.source }}" target="_blank">Source</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</article>
{% endblock %}